/***** BASE STYLES *****/
html {
    font-size: 14px;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 1em;
    display: flex;
    justify-content: center;
    background-color: hsl(30, 38%, 92%);
    
}

.container {
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 96%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    margin: 18px 0;
}

.image {
    max-width: 100%;
    height: 480px;
    background: url('../img/image-product-mobile.jpg') no-repeat center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.product-main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 5px 22px;
    box-sizing: border-box;
}
h3 {
    font-family: 'Fraunces', serif;
    color: #000;
    font-size: 2.8em;
    line-height: 1em;
    margin: 16px 0;
}

p.category {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 10px;
}
p.description {
    line-height: 1.68em;
}
p.price {
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 2.2em; 


}
span.discounted {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    font-size: 1rem;
    margin-left: 20px;
}
button {
    width: 100%;
    margin-bottom: 25px;
    background-color: hsl(158, 36%, 37%);
    padding: 18px 0;
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    font-size: 1.2em;
    border: 0;
}
button:hover {
    background-color: hsl(156, 42%, 18%);
}

@media only screen and (min-width: 1024px)  {
    .container {
        flex-flow: row;
        width: 50%;
        justify-content: center;
        align-content: center;
        /* margin-top: 80px ;*/
        margin: 80px 0 0 0;
    }
    .image {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
        /* background: url('../img/image-product-desktop.jpg') no-repeat center; */
        width: 100%;
        max-height: 600px;
    }
    .product-main {
        padding: 5px 38px;
    }
}